@import "src/common/variables.scss";

.full_home_site {
  @media (max-width: 594px) {
    display: inline-block;
    text-align: center;
  }
}

.intro-text {
  position: relative;
  //right: 6.18vw;
  margin-left: 14.95vw;
  margin-top: 33.15vh;

  @media (max-width: 594px) {
    position: absolute;
    margin-top: 20vh;
    margin-bottom: 10vh;
  }
}

p {
  @include trippytextp();

  @media (max-width: 594px) {
    font-size: 5vw;
    margin-top: 2.8vh;
  }
}

h1 {
  @include trippytexth1();
  letter-spacing: 5px;

  @media (max-width: 594px) {
    font-size: 19.01vw;
    width: 100px;
    line-height: 1.05em;
  }
}

.p-hello {
  position: relative;
  //top: 13px;
  top: 1.6vh;
  letter-spacing: 1px;

  @media (max-width: 594px) {
    text-align: left;
  }
}

.p-sd {
  position: relative;
  letter-spacing: 1px;
  //bottom: 37px;
  //bottom: 4.671717vh;
  margin-top: -4vh;

  @media (min-width: 594px) and (max-width: 1024px) {
    margin-top: -1.3vh;
    font-size: 2.2vw;
  }
}
