@import "src/common/variables.scss";

@mixin commonToast() {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  width: 250px;

  @media (max-width: 594px) {
    margin-top: -35vh;
    width: 100%;
    background-color: white;
    color: $palette-black;
  }
}

.dontpressmetoast {
  @include commonToast();
  background-color: $palette-violet;
}

.dontpressmefinaltoast {
  @include commonToast();
  background-color: $palette-red;
  font-size: 1.1em;

  @media (max-width: 594px) {
    color: white;
    background-color: $palette-red;
  }
}
