@import "src/common/variables.scss";

.dontpressmetoast {
  background-color: $palette-violet;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  width: 250px;

  @media (max-width: 594px) {
    margin-top: -35vh;
    width: 100%;
    background-color: white;
    color: $palette-black;
  }
}
