@import "src/common/variables.scss";

.each-btn {
  @include trippybox();
}

@mixin btn-space() {
}

.each-1 {
}

.each-2 {
  margin-top: 10.6vh;

  @media (max-width: 594px) {
    margin-top: 5.6vh;
  }
}

.each-3 {
  margin-top: 11.1vh;

  @media (max-width: 594px) {
    margin-top: 6.1vh;
  }
}
